<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <setting name="callSettersOnNulls" value="true"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <mappers>
    <mapper resource="mapper/member-query.xml"/>
    <mapper resource="mapper/article-query.xml"/>
    <mapper resource="mapper/image-query.xml"/>
    <mapper resource="mapper/comment-query.xml"/>
    <mapper resource="mapper/like-query.xml"/>
  </mappers>
</configuration>